obsws-python>=1.5.0
python-dotenv>=1.0.0
requests>=2.31.0
yt-dlp>=2026.2.4
# kickpython>=0.1.0  # Optional: for Kick integration - not needed, we baked it into the codebase
aiOhttp
websockets
curl_cffi